*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #D9D3C7;
    width: 100%;
}

nav {
    flex: 1;
    text-align: right;
  }
  
nav ul {
    display: inline-block;
    list-style-type: none;
}
  
nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

#nav_menu {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-right: 2rem;
}

#nav_menu a {
    text-decoration: none;
    color: #72736E;
    font-weight: bold;
    font-size: 2rem;
    transition: .5s;
    border: none;
    background-color: transparent;
    padding-left: 8px;
    padding-right: 8px;
}

#nav_menu a:hover {
    color: rgb(234, 233, 233);
    border-radius: 5px;
    background: #72736E;
    box-shadow: 0 0 5px #72736E,
                0 0 25px #72736E,
                0 0 50px #72736E,
                0 0 100px #72736E;
}


header{
    width: 100%;
    height: 20%;
}

.banner {
    width: 100%;
}

.banner img {
    max-width: 100%;
    height: 400px;
} 

.card_background {
    width: 100%;
    height: 600px;
    background-color: aliceblue;
}

.parallax {
    position: relative;
    background-image: url("../img/banner_feminino-d.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    background-color: black;
}

.footer{
    color: white;
    background-color: #0D0D0D;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 20%;
}
.footer-div{
    display: flex;
    justify-content: center;
    
}
.footer-div h2{
    color: white;
}

.footer-logo{
    padding-top: 3em;
}

.text-footer{
    align-items: center;
    padding-top: 2em;
    text-align: center;
    color: white;
}
.icons-footer{
    padding-top: 3em;
    
}

.icons-footer a{
    margin-left: 1.2em;
    padding-top: 1em;
}
.icons-footer p{
    margin-bottom: 0.5em;
}


/*  Responsividade max-width   820-1180 iPad Air
                              412 - 915 Samsung Galaxy S20 Ultra 412-915
*/

.footer-bottom{
    margin-left: auto;
    margin-right: auto;
}
.section1{
    text-align: center;
    align-items: center;
    width: 50%;
    margin-bottom: 3rem;
    margin-top: 5rem;
    color: #363F40;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    padding-top: 1rem;
    

}
.section1 h1{
   
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 3rem;
}

.section1 h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 18rem;

}

.section1 p{
    text-align: justify;
    font-size: 1.8rem;
    padding: 2rem;
 }


.frase{
    padding-top: 2.5rem;
    font-style: italic;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.2rem;
}
#img1{
    width: 30%;
    height: 30%;
    /* object-fit: cover; */
}
#img2{
    width: 30%;
    height: 30%;
}
#img3{
    width: 38%;
    
}
/*Responsividade para iPad Air*/
@media (min-width: 820px) and (max-width: 1180px) {
    .navbar .logo img{
        width: 90px;
        height: 90px;
        margin-left: 20px;
        margin-right: 20px;
    }  

    .section1{
        width: 75%;
    }

    .section1 h2{
        font-size: 3rem;
    }

    .frase{
        padding-left: 6rem;
        padding-right: 6rem;
        font-size: 1.5rem;
    }

    #img1{
        width: 45%;
    }
    #img2{
        width: 45%;
    }
    #img3{
        width: 45%;
    }

    .icons-footer .linkedin{
        margin-left: 2rem;
    }

}